
body {
    font-family: sans-serif;
  
  }
  
  main{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:"navbar navbar"
                        "heading heading"
                        "main-view asidebar";
  


  }
  
  #navbar{
    grid-area: navbar;
  }
  #heading{
    grid-area: heading;
  }
  #main-view{
    grid-area: main-view;
    
  }
  
  #asidebar{
    grid-area: asidebar;
  }
  
  
  #container{
    width: 100%;
    overflow-y: auto;
    max-height: 450px;
    
  }
  
  
  
  
  
  @media (max-width:1260px) {
    main{
        grid-template-columns: 1fr;
        grid-template-areas: "navbar"
                            "heading"
                            "main-view"
                            "asidebar";
  
    }
    #asidebar{
        width: 100%;
    }
  
    #userEmail{
        font-size: 12px;
    }
    #personalAccount{
        display: none;
    }
  
    #balence , #income ,#expences , #budget{
        max-width: 100%;
    }
  
  
  
  
    
  }
  
  
  @media (max-width: 768px) {
    main{
      margin: 0px 0px;
    }
    #asidebar {
        width: 100%;
        max-width: none;
    }
    main{
      margin: 0px 0px;
    }
    #greeting , #userName2{
      font-size: 25px;
    }
  }
  
  
  
  
  #icons{
    background-color: white;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    padding: 5px;
    box-shadow: 2px 2px 10px black;
    margin-bottom: 8px;
  }
  
  #income:hover ,#expences:hover , #budget:hover{
    box-shadow: 1px 1px 5px  lightgray;
  }
  
  
  
  
  
  #myPieChart {
    width: 100%;  
    max-height: 250px; 
  }
  
  
  
  
  
  
  table {
    position: relative;
    width: 100%;
  }
  
  table, th, td {
    padding: 8px;
    text-align: left;
    
  }
  tr{
    font-weight: 300;
  }
  
  
  /* Dark Theme */
  .darkTheme{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    /* background-color: rgba(0, 0, 0, 0.815); */
  }
  
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select{
    border-radius: 30px;
    padding-left: 10px;
    background-color: transparent;
  
  }
  
  
  
  #myPieChart {
    width: 100% !important; 
    height: auto !important; 
  }

  
